!.gitignore
.*
Config.json
discordia*.log
gateway*.json
deps/*
!deps/CM.lua
!deps/discordia
deps/discordia/*.lua
deps/discordia/libs/*
!deps/discordia/libs/voice
deps/discordia/libs/voice/*.lua
!deps/discordia/libs/voice/VoiceConnection.lua
deps/discordia/libs/voice/streams/*.lua
!deps/discordia/libs/voice/streams/FFmpegProcess.lua
modules/Clash.lua
modules/HouseRoles.lua
modules/Moderation.lua
modules/Reminder.json
modules/Permissionator9000.json
modules/Tag.json
modules/UrbanDict.txt
modules/Math.lua
modules/SFS.lua
modules/Fortnite.*
modules/CoC/vendor
modules/CoC/*.json
*sqlite3.*
*.dll
desktop.ini